body, html {
    height: 100%;
    margin: 0;
}

.parallax {
    text-align: center;
    color: aliceblue;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



